mixin blogBlock( blog = {} )
    .blogBlock
        if blog.link == null
            a(href=routes.blogDetail(blog.id) title=`${blog.title} 자세히 보기`)
                .blogBlock__column
                    img(data-src=blog.image alt=blog.title).blogBlock__image.lazyImg
                .blogBlock__column.blogBlock__text
                    h4.blogBlock__title=blog.title
                    p.blogBlock__description=blog.description
                    .blogBlock__readMore
                        span Read More
        else
            a(href=blog.link target="_blank" rel="noopener noreferrer external" title=`${blog.title} 자세히 보기`)
                .blogBlock__column
                    img(data-src=blog.image alt=blog.title).blogBlock__image.lazyImg
                .blogBlock__column.blogBlock__text
                    h4.blogBlock__title=blog.title
                    p.blogBlock__description=blog.description
                    .blogBlock__readMore
                        span Read More