mixin blogBlock( blog = {} )
    .blogBlock
        if blog.outlink == null
            a(href=routes.blogDetail(blog.bid) title=`${blog.title}`)
                img(data-src=blog.image alt=blog.title).blogBlock__image.lazyImg
                .blogBlock__text
                    h3.blogBlock__title=blog.title
                    p.blogBlock__description
                        | !{blog.description}
                    .blogBlock__readMore
                        span Read More 
        else
            a(href=blog.outlink target="_blank" rel="noopener noreferrer external" title=`${blog.title}`)
                img(data-src=blog.image alt=blog.title).blogBlock__image.lazyImg
                .blogBlock__text
                    h3.blogBlock__title=blog.title
                    p.blogBlock__description
                        | !{blog.description}
                    .blogBlock__readMore
                        span Read More

