mixin blogBlock( blog = {} )
    .blogBlock
        a(href=routes.blogDetail(blog.id))
            .blogBlock__column
                //- img(src=blog.image).blogBlock__image
                img(data-src=blog.image).blogBlock__image.lazyImg
            .blogBlock__column.blogBlock__text
                h4.blogBlock__title=blog.title
                p.blogBlock__description=blog.description
                p.blogBlock__readMore Read More
    
    //- if blog.image.length > 0
    //-     each item in blog.image
    //-         p= item
    //-         img(src=item)