extends layouts/vipMain

block content
    iframe(
    src="https://soltone.cdn.ntruss.com/vip/솔톤VIP재무리포트-Sample.pdf"
    width="100%",
    height="800px",
    border="0"
    padding="0",
    margin="0"
    )

//- body(style="margin: 0; padding: 0; border: 0;")
    iframe(
    src="https://soltone.cdn.ntruss.com/vip/솔톤VIP재무리포트-Sample.pdf"
    width="100%",
    height="800px",
    border="0"
    padding="0",
    margin="0"
    )