header.header
    .header__wrapper
        .header__column
            a(href=routes.home)  
                span 솔톤세무회계
        .header__column.header__menu
            nav(role="navigation")
                .menuToggle
                    input(type="checkbox")#navigationToggle
                    span
                    span
                    span
                    ul.menu
                        li
                            a(href=routes.home) 홈
                        li 
                            a(href=routes.blogs) 블로그
                        li
                            a(href=routes.people) 구성원
                    //- ul.menu
                    //-     a(href=routes.home)
                    //-         li 홈
                    //-     a(href=routes.blogs)
                    //-         li 블로그
                    //-     a(href=routes.people)
                    //-         li 구성원
                              

