header.header
    .header__wrapper
        .header__column
            a(href=routes.vip)  
                span 솔톤 VIP 재무리포트
        .header__column.header__menu
            nav(role="navigation")
                .menuToggle
                    input(type="checkbox")#navigationToggle
                    span
                    span
                    span
                    ul.menu
                        li
                            a(href=routes.home) 홈
                        li
                            a(href=routes.vip) VIP 재무리포트
                        li 
                            a(href=routes.blogs) 블로그
                        li
                            a(href=routes.people) 구성원

                              

