doctype html
html(lang="ko")
    head
        //- Global site tag (gtag.js) - Google Analytics
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-9SVY2KLBTZ")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-9SVY2KLBTZ');

        //- Meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="theme-color" content="#2e394d")
        meta(name="author" content="솔톤세무회계")
        meta(name="description" content=`${metaDescription}`)
        meta(name="keywords" content="세무사, 여의도 세무사, 영등포 세무사, 마포 세무사, 서울 세무사, 세금, 지방세, 법인세, 소득세, 재산세, 양도세, 상속, 증여, 부동산, 절세, 기장 대행, 세무 상담, 세금 상담, 세금 컨설팅")

        //- Robots
        meta(name="robots" content="index, follow")

        //- Search
        meta(name="naver-site-verification" content="67d7497f8d51b8f09e78e7ac4d11a06db275e198")
        link(rel="canonical" href=`https://soltonetax.com${canonicalUrl}`)

        //- Open Graph protocol
        meta(property="og:title" content="솔톤세무회계")
        meta(property="og:type" content="website")
        meta(property="og:image" content=`${ogImageUrl}`)
        meta(property="og:image:alt" content="내 손 안의 세무 파트너 솔톤")
        meta(property="og:description" content=`${metaDescription}`)
        meta(property="og:url" content=`https://soltonetax.com${canonicalUrl}`)
        meta(property="og:locale" content="ko_KR")
        meta(property="og:site_name" content="솔톤세무회계")

        //- Styles
        link(rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap")
        link(rel="stylesheet" type="text/css" href="/static/styles.css")

        //- Favicon & Title
        link(rel="shortcut icon" href="https://soltonetax.com/favicon.ico")
        //- link(rel="shortcut icon" type="image/png" href="https://kr.object.ncloudstorage.com/soltone/images/favicon_soltone.png")
        if canonicalUrl == "/"
            title #{siteName}
        else
            title #{pageTitle} : #{siteName}
        
    body
        include ../partials/header
        main
            block content
        include ../partials/footer

        button.topBtn(title= "Go to top") Top
        
        script(src="/static/main.js")


        //- Naver Analytics
        script(type="text/javascript" src="//wcs.naver.net/wcslog.js")
        script.
            if(!wcs_add) var wcs_add = {};
            wcs_add["wa"] = "9eaa3501e4e0d0";
            if(window.wcs) {
                wcs_do();
            }
        