doctype html
html(lang="ko")
    head

        //- Global site tag (gtag.js) - Google Analytics
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-KD5XFFM30B")
        script.
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-KD5XFFM30B');

        //- Meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="theme-color" content="#2e394d")
        meta(name="author" content="솔톤세무회계")
        //- meta(name="description" content="내 손 안의 세무 파트너 솔톤. 법인세 | 소득세 | 재산세 | 기장대행 | 세무상담")
        meta(name="description" content=`${metaDescription}`)
        meta(name="keywords" content="세무사, 세금, 법인세, 소득세, 재산세, 기장대행, 세무상담")

        //- Robots
        meta(name="robots" content="index, follow")

        //- Search
        meta(name="naver-site-verification" content="67d7497f8d51b8f09e78e7ac4d11a06db275e198")
        link(rel="canonical" href=`https://soltonetax.com${canonicalUrl}`)

        //- Open Graph protocol
        meta(property="og:title" content="솔톤세무회계")
        meta(property="og:type" content="website")
        meta(property="og:image" content="https://kr.object.ncloudstorage.com/soltone/images/og_image_soltone.jpg")
        meta(property="og:image:alt" content="내 손 안의 세무 파트너 솔톤")
        meta(property="og:description" content=`${metaDescription}`)
        meta(property="og:url" content="https://soltonetax.com/")
        meta(property="og:locale" content="ko_KR")
        meta(property="og:site_name" content="솔톤세무회계")

        //- Styles
        link(rel="stylesheet" type="text/css" href="/static/styles.css")
        link(href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nunito&display=swap" rel="stylesheet")

        //- Favicon & Title
        link(rel="shortcut icon" type="image/png" href="https://kr.object.ncloudstorage.com/soltone/images/favicon_soltone.png")
        title #{siteName} | #{pageTitle} 

        //- API
        script(type="text/javascript" src=`${kakaoMapApi}`)
        
    body
        include ../partials/header
        main
            block content
        include ../partials/footer

        button.topBtn(title= "Go to top") Top
        
        script(src="/static/main.js")


        //- Naver Analytics
        script(type="text/javascript" src="//wcs.naver.net/wcslog.js")
        script.
            if(!wcs_add) var wcs_add = {};
            wcs_add["wa"] = "9eaa3501e4e0d0";
            if(window.wcs) {
                wcs_do();
            }
        